name: Build Static Rathole for JDC-1

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly # 1. 改为 nightly，以防万一需要自编译 std
        with:
          components: rust-src # 2. 安装源码，如果 cross 需要现场编译标准库会用到
          # 3. 删除了 targets: mipsel-unknown-linux-musl 这一行，解决了你的报错

      - name: Install Cross
        run: cargo install cross

      - name: Configure Static Linking
        run: |
          mkdir -p .cargo
          echo '[target.mipsel-unknown-linux-musl]' >> .cargo/config.toml
          echo 'rustflags = ["-C", "target-feature=+crt-static"]' >> .cargo/config.toml

      - name: Build for MIPS (Static & Embedded TLS)
        # 这里的命令不需要变，cross 会自动拉取包含该环境的 Docker 镜像
        run: cross build --target mipsel-unknown-linux-musl --release --no-default-features --features "server client embedded-tls"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rathole-static-mips
          path: target/mipsel-unknown-linux-musl/release/rathole
