name: Build rathole for JD Cloud 1 (Padavan)

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-mipsel:
    name: Build for MT7621 (Static)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        # 不需要手动 install target，cross 会处理

      - name: Install Cross
        uses: taiki-e/install-action@cross

      - name: Build for MIPS Little Endian (Force Static)
        # 重点在这里：
        # RUSTFLAGS="-C target-feature=+crt-static" 强制编译器把 C 运行时库静态打包进程序
        # -C strip=symbols 去掉符号表减小体积
        run: |
          RUSTFLAGS="-C target-feature=+crt-static -C strip=symbols" \
          cross build --target mipsel-unknown-linux-musl --release --no-default-features --features "server,client,hot-reload,noise,rustls"

      - name: Check binary type
        # 这一步是为了验证，如果成功，output 应该显示 "statically linked"
        run: |
          cd target/mipsel-unknown-linux-musl/release/
          file rathole
          # 重命名
          mv rathole rathole-mipsel-mt7621

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rathole-mipsel-mt7621
          path: target/mipsel-unknown-linux-musl/release/rathole-mipsel-mt7621
