name: Build rathole for JD Cloud 1 (Padavan)

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-mipsel:
    name: Build for MT7621 (Padavan)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        # 注意：这里删除了 targets: mipsel-unknown-linux-musl
        # 因为官方源没有这个 target，我们留给 cross 在容器里处理

      - name: Install Cross
        uses: taiki-e/install-action@cross

      - name: Build for MIPS Little Endian (Static)
        # cross 会自动拉取 docker 镜像并配置环境
        run: |
          cross build --target mipsel-unknown-linux-musl --release --no-default-features --features "server,client,hot-reload,noise,rustls"

      - name: Prepare Artifact
        run: |
          # 检查一下文件是否生成
          ls -R target/
          
          cd target/mipsel-unknown-linux-musl/release/
          mv rathole rathole-mipsel-mt7621

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rathole-mipsel-mt7621
          path: target/mipsel-unknown-linux-musl/release/rathole-mipsel-mt7621
